
.sidebar1 {
    background: #48CFAD;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#48CFAD, #37BC9B, #48CFAD);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#48CFAD, #37BC9B, #48CFAD);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#48CFAD, #37BC9B, #48CFAD);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#48CFAD, #37BC9B, #48CFAD);
    /* Standard syntax */
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        border-right: 1px solid #eee;
        width: 230px;
    }
    .sidebar1 a {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        
        padding: 15px 15px !important;
    }
    .sidebar1 a:hover, .sidebar a:focus {
        color: #fff !important;
        font-weight: bold;
        text-decoration: none;
        transition: .35s ease-in-out;
    }
    .sidebar1>li:hover {
        background-color: #fff !important;
    }
.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5, h6 {
    padding: 5px 0px 5px 20px;
}
.nav-tabs>li.active>a{
    background-color: transparent !important;

}
.nav-tabs>li>a:hover,.nav-tabs>li.active>a:hover{
    background-color: transparent !important;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
text-align:center;
}

.img-user{
    width: 120px;
    height: 120px;
}

.list>li:hover{
    background-color: #05AA81;

}
.panel-heading{
    height: 34px;
}
.panel-title{
    float: left;
    font-weight: bold;
}
.sidebar-tabs{
    background-color: transparent;
}
